/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ganeral styles */

*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary:#59BFC2;
    --secondary:#FEFFFF;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 500;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
/* flex */
.flex{
    display: flex;
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-around{
    justify-content: space-around;
}
.end {
    justify-content: end;
}
.column {
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
 }
 .flex-48{
    flex: 0 1 48%;
}
.flex-22 {
    flex:  0 1 22%;
}
.flex-28 {
    flex:  0 1 26%;
}

 /* btn  */
.btn{
    display: inline-block;
    color: #394A7C;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: var(--secondary);
}
.btn-secondary {
    display: inline-block;
    background-color: var(--primary);
    padding: .5rem 1rem;
    color: white;
    font-size: 1.3rem;
}

/* a */
a{
    text-decoration: none;
}

/* text  */
.h1-heading{
    font-size: 4rem;
    color: var(--secondary);
    line-height: 1.2;
}
 .h2-heading{
    font-size: 2.2rem;
    font-weight: 600;
    color: #283E7D;
}

.text-center{
    text-align: center;
}
.font-0{
    font-size: 0;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

/* position  */
.relative{
    position: relative;
}
/* padding  and margin*/
.padding{
    padding: 3.4rem 0;
}

.margin-0{
    margin: 0;
}
/* genral color  */
.bg{
    background: var(--primary);
}
/* image  */
.full-width {
    width: 100%;
}


/* header  */
.header {
    padding: 1rem 0;
}
.brand-name {
    color:  var(--secondary);
    font-size: 2rem;
    display: inline-block;
    
}
.nav-items{
    color: var(--secondary);
    margin-left: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
}
/* hero  */
.hero {
    padding: 5rem 0 22rem 0;
}
.h1-heading {
    margin-bottom: 1.5rem;
}
.hero .image-container {
    position: absolute;
    top: 18rem;
    right: 8rem;
}
/* file-link  */
.file-link {
    padding-top: 18rem;
}
.each-file-link img{
    margin-right: 1rem;
}
.each-file-link span{
    color: #BDC8E0;
    font-size: 2rem;
    font-weight: 800;
    vertical-align: super;
}
.line {
    border-top: 2px solid #C9D8F8;
    margin-top: 3.5rem;
}

/* statistics  */
.statistics {
   padding-top: 5rem;
}
.statistics-content p {
    font-size: 1.3rem;
    color: #7184B0;
    margin: 1.5rem 0;
}
.btn-learn-more {
    padding: .7rem 1.5rem;
    margin-left: 1.5rem;
}

.btn-learn-more::before {
    content: "";
    position: absolute;
    left: -1.5rem;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 1.6rem solid white;
    border-top: 1.65rem solid var(--primary);
    border-bottom: 1.7rem solid var(--primary);
} 
.btn-learn-more::after {
    content: "";
    position: absolute;
    right: -1.4rem;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 1.4rem solid var(--primary);
    border-top: 1.65rem solid transparent;
    border-bottom: 1.7rem solid transparent;

}
/* score  */
.score {
    padding-top: 8rem;
}
table{
    margin-top: 2.2rem;
}

tr:nth-child(2n+3){
    background-color: #D5E5E5;
}
.table-heading-row{
    background: var(--primary);
    height: 3.7rem;
    width: 16rem;
    color: var(--secondary);
    font-size: 1.3rem;
    line-height: 3.7rem;
    border-radius: 10px;
}
.table-heading-row th{
    text-align: left;
    padding-left: 1.2rem;
    vertical-align: middle;
}
td{
    border: 1px solid #C5D1D1;
    height: 3.7rem;
    width: 16rem;
    text-align: left;
    padding-left: 1rem;
    vertical-align: middle;
    color: #72757C;
    font-size: 1.2rem;
}

/* packages  */
.packages {
   padding-top: 6rem;
}

.toggle-text {
    font-size: 1.4rem;
    font-weight: 600;
}
.slider-container {
    width: 6rem;
    background: #BBECEB;
    height: 2.8rem;
    display: inline-block;
    border-radius: 25px;
    line-height: 2.8rem;
    text-align: right;
    margin: 2rem 1rem;
}
.slider {
    height: 2rem;
    background: var(--primary);
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 2.1rem;
    margin-right: .5rem;
}
.line-inside {
    display: inline-block;
    background: white;
    height: 1rem;
    width: .25rem;
}
.each-packages {
    border: 6px solid #E8EEFB;
    border-radius: 15px;
    padding: 3rem 2rem;
}
.packages-text {
    color: #8492b3;
    font-size: 1.4rem;
    margin: 1rem 0;
}
.price {
    font-size: 4.5rem;
    color: var(--primary);
    font-weight: 600;
}
.price::before {
    content: "$";
    font-size: 2.2rem;
    color: var(--primary);
    margin-right: .5rem;
}
.price::after {
    content: "/Month";
    font-size: 1.5rem;
    color: #8492b3;
    margin-left: .5rem;
    font-weight: 400;
}
.packages .line {
    margin-top: 2rem;
}
.feature {
    font-size: 1.7rem;
    color: #42517B;
    margin-top: 1.8rem;
    text-align: left;
}
.unmarked-features-color {
    color: #7083AF;
}
.checked-icon, .unchecked-icon {
    color: var(--primary);
    font-size: 1.3rem;
    margin-right: 1rem;
}
.unchecked-icon {
    color: #E94677;
}
.btn-packages {
    height: 4.2rem;
    border-radius: 7px;
    width: 90%;
    background: white;
    color: #42517B;
    border: 2px  solid #d7d9dd;
    font-size: 1.7rem;
    margin-top: 3rem;
    padding: 0;
    line-height: 4.2rem;
}
.btn-package-active {
    background: var(--primary);
    border: 0;
    color: white;
}
.trial-sec {
    background: var(--primary);
    border-radius: 25px;
    padding: 5rem 0;
    text-align: center;
    margin-top: 10rem;
}
.trial-sec .h2-heading {
    color: var(--secondary);
}
.btn-trial-sec {
    background: white;
    width: 30%;
    border: 0;
}
/* footer  */
.footer {
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.footer .brand-name {
    color: #283D7D;
    font-size: 2.5rem;
}
.footer .text {
    color: #6E81AE;
    font-size: 1.4rem;
    margin-top: 1rem;
}
.h3-heading {
    font-size: 2rem;
    color: #283D7D;
}
.brand-and-nav {
    margin-right: 6rem;
}
.icon-container {
    display: inline-block;
    background: var(--primary);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    line-height: 2.5rem;
    text-align: center;
    color: white;
    margin-right: 2rem;
    margin-top: 2rem;
}
.contact a {
    margin-top: 1rem;
    display: inline-block;
}

