/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    padding-bottom: 25rem;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ganeral styles */
*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary:#59BFC2;
    --secondary:#FEFFFF;

    /* --primary-font-color:rgb(78, 64, 60); */
}
html {
    font-size: 16px;
}
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 500;
}
.container {
    max-width: 1085px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
/* flex */
.flex{
    display: flex;
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-around{
    justify-content: space-around;
}
.column {
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
 }
 .flex-48{
    flex: 0 1 48%;
}
 /*

.flex-11{
    flex: 0 1 11%;
}
.flex-16{
    flex: 0 1 16%;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-23{
    flex: 0 1 23%;
}
.flex-32{
    flex: 0 1 32%;
}
.flex-34{
    flex: 0 1 34%;
}

.flex-49{
    flex: 0 1 49%;
}
.flex-55{
    flex: 0 1 55%;
}
.flex-58{
    flex: 0 1 58%;
}
.full-width{
    width:100%;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
} */
/* btn  */

.btn{
    display: inline-block;
    color: #394A7C;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: var(--secondary);
}

/* a */
a{
    text-decoration: none;
}

/* text  */
.h1-heading{
    font-size: 4rem;
    color: var(--secondary);
    line-height: 1.2;
}
 .h2-heading{
    font-size: 2.2rem;
    font-weight: 600;
    color: #283E7D;
}
/*
.h3-heading{
    font-size: 1.7rem;
    font-weight: 700;
}
.h4-heading{
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: -1px;
}
.h5-heading{
    font-size: 1.2rem;
    font-weight:700;
    color: black;
} */
.text{
    /* font-size:.9rem;
    color: rgb(53, 49, 48);
    font-weight: 600; */
}
.text-center{
    text-align: center;
}
.font-0{
    font-size: 0;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
/* .active{
    color: var(--primary);
} */
/* position  */
.relative{
    position: relative;
}
/* padding  and margin*/
.padding{
    padding: 3.4rem 0;
}
/* .text-margin{
    margin: .7rem 0 1.5rem 0;
} */
.margin-0{
    margin: 0;
}
/* genral color  */
.bg{
    background: var(--primary);
}
/* image  */
.full-width {
    width: 100%;
}


/* header  */
.header {
    padding: 1rem 0;
}
.header a{
    color:  var(--secondary);
    font-size: 2rem;
    display: inline-block;
    
}
.nav-items{
    color: var(--secondary);
    margin-left: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
}
/* hero  */
.hero {
    padding: 5rem 0 22rem 0;
}
.h1-heading {
    margin-bottom: 1.5rem;
}
.hero .image-container {
    position: absolute;
    top: 18rem;
    right: 8rem;
}
/* file-link  */
.file-link {
    padding-top: 18rem;
}
.each-file-link img{
    margin-right: 1rem;
}
.each-file-link span{
    color: #BDC8E0;
    font-size: 2rem;
    font-weight: 800;
    vertical-align: super;
}
.line {
    border-top: 2px solid #C9D8F8;
    margin-top: 3.5rem;
}

/* statistics  */
.statistics {
   padding-top: 5rem;
}
.statistics-content p {
    font-size: 1.3rem;
    color: #7184B0;
    margin: 1.5rem 0;
}
.btn-secondary {
    display: inline-block;
    background-color: var(--primary);
    padding: .5rem 1rem;
    color: white;
    font-size: 1.3rem;
}

tr {
    border: 1px solid #C5D1D1;
    border-radius: 50%;
}
tr:nth-child(2n+3){
    background-color: #D5E5E5;
}
td,th{
    border: 1px solid #C5D1D1;
    height: 3.5rem;
    width: 16rem;
    text-align: left;
    padding-left: 1rem;
    vertical-align: middle;
    color: #72757C;
    font-size: 1.2rem;
    overflow: hidden;
}
th{
    color : var(--secondary);
    background: #3D9EA1;
    font-size: 1.3rem;
    border: 0;
}